body {
    display: flex;

    margin: 0px;
    padding: 0px;
    font-family: 'Hind', sans-serif;
}

.hero-container {
    height: 100vh;
    width: 40vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;


    background-image: url(./images/hero.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    padding: 1rem 3rem;

    height: 100vh;
    background: #fefef6;
    box-shadow: -16px 0px 80px 20px rgba(0,0,0,0.1);
}

.hero-image-overlay {

    width: 15vw;
    margin-bottom: 23vh;
}

.hero-logo {
    width: 100%;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

.sub-heading {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

#sign-up-form {
    display: flex;
    flex-wrap: wrap;
}