

body {
    display: flex;

    margin: 0px;
    padding: 0px;
    font-family: 'Hind', sans-serif;
}

.hero-container {
    height: 100vh;
    width: 40vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


    background-image: url(./images/hero.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    padding: 0rem 3rem;

    height: 100vh;
    background: #fefef6;
    box-shadow: -16px 0px 80px 20px rgba(0,0,0,0.1);
}

.hero-image-overlay {

    width: 15vw;
    margin-bottom: 23vh;
}

.hero-logo {
    width: 100%;
}

.hero-logo::after {
    width: 90%;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

.sub-heading {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

#sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#sign-up-form > div {
    display: flex;
    gap: 1.5rem;
}

.form-submit {
    border: none;
    appearance: none;

    height: 3rem;
    width: 13rem;
    background-color: #0a5c58;
    color: #fefef6;
    border-radius: 10px;
    font-size: 1rem;
    transition: .3s ease-in-out;
}

.form-submit:hover {
    transform: scale(1.05);
}


.submit-container {
    display: flex;
    flex-direction: column;
    
    gap: 12px;
}

.log-in {
    font-size: 13px;
}

.input-container {
    position: relative;
}

label {
    position: absolute;
    top: -1.2rem;
    left: 0.1rem;
    font-size: .85rem;
    font-weight: 400;
}


.error-password::after{
    content: "Passwords do not match!";
    position: absolute;
    top: 3rem;
    left: 0rem;
    color: rgb(208, 0, 0);
    font-size: .7rem;
    white-space: nowrap;
}

input {
    height: 1.4rem;
    width: 15.5rem;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.209);
    border-radius: 5px;
}

input:hover,
input:focus {
    box-shadow: 0px 0px 4px 0px rgba(37, 62, 27, 0.2);
}

.log-in.link {
    appearance: none;
    color: #0a5c58;
}

.log-in.link:hover {
    text-decoration: none;
}